body {
  padding-top: 4rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
    
.btn-toolbar button {
    min-width: 3em;
}

.btn-toolbar button:focus {
    outline: none !important;
    box-shadow: none !important;
}